.hero {
  display: flex;
  flex-direction: column;
  /* position: absrelatolute; */
  position: absolute;
  width: 100vw;
  height: 100vh;
  /* text-align: center; */
  /* justify-content: center; */
  align-items: center;
  /* z-index: -1; */
}



.hero__background img {
  /* position: absolute; */
  /* top: 0; */
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.5;
  z-index: -1;
  /* object-fit: fill; */
}

.hero h3 {
  z-index: 1;
  width: 100vw;
  height: 150px;
  position: absolute;
  bottom: 100px;
  text-align: center;
  color: var(--font-color);

  /* text-shadow: 2px 2px var(--second-color); */
}

.hero form {
  position: absolute;
  bottom: 20px;
}