header {
  position: absolute;
 width: 100vw;
 top: 0;
 /* height: 100vh; */
 z-index: 1;
}

.background--image {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

.menu__nav {
  display: flex;
  /* position: relative; */
  width: 100vw;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  color: var(--font-color);
  /* padding: 50px; */
}

header h3 {
  width: 20%;
}

.search__form {
  display: flex;
  /* visibility: hidden; */
  justify-content: center;
  width: 100%;
  height: auto;
}

.search__form .search--input {
  z-index: 1;
  width: 70%;
  height: 40px;
  outline-color: var(--second-color);
  outline-style: none;
  font-family: 'Sunflower';
  text-align: center;
  font-size: var(--large-font-size);
  color: var(--second-color);
}

.search__form button {
  width: 80px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  outline-style: none;
  background-color: var(--second-color);
  font-family: 'Sunflower';
  font-size: var(--large-font-size);
  color: var(--font-color);
}
/* .right__side__container {} */

/* .right__side__container ion-icon {
  margin-right: 10px;
  font-size: var(--extra-large-font-size);
  cursor: pointer;
} */

/* .right__side__container .menu--icon {
  margin-right: 10px;
  font-size: 2.3rem;
  font-size: var(--extra-large-font-size);
  cursor: pointer; */
/* } */

.right__side__container .menu--icons {
  margin-right: 10px;
  font-size: var(--extra-large-font-size);
  cursor: pointer;
}

.menu__modal {
  /* display: flex;
  justify-content: center; */
  position: absolute;
  height:   auto;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: var(--main-color);
  /* text-align: center; */
  overflow-y: auto;
  outline-style: none;
  color: white;
}

.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-color);
  z-index: 2;
}

.abc__chart {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.abc__chart .abc--letter {
  margin: 10px;
  padding: 5px;
}

.genre__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  font-size: var(--small-font-size);
}

.genre__list .genre--item {
  width: auto;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-right: 10px;
  border-bottom: 1px solid white;
  cursor: pointer;
}