:root {

  /*COLORS*/
  /* --background-color: #102f4b; */
  /* --background-color: #0d263b; */
  --background-color: #131313;
  /* --font-color: #e7d9ea; */
  --font-color: #f1f1f1;
  --main-color: #232424;
  /* --main-color: #11698e; */
  --second-color: #16c79a;

  /*FONT-SIZE*/
  --small-font-size: 1.4rem;
  --regular-font-size: 1.8rem;
  --large-font-size: 2rem;
  --extra-large-font-size: 2.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Sunflower', Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-size: var(--regular-font-size);
}

ul, li, ol {
  list-style: none;
}

.container {
  padding: 0 15px;
}

ion-icon {
  font-size: var(--regular-font-size);
}

.watch--now {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--second-color);
  outline-style: none;
  cursor: pointer;
  color: var(--font-color);
  font-size: var(--large-font-size);
}